<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Processing Payment...</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15">
    </head>
    <body onLoad="document.form.submit();">
        <center><h3>[{ oxmultilang ident="wcp_payment_page_redirect" }]</h3></center>
        <form method="post" name="form" action="[{$wcpPaymentUrl}]">
        [{foreach from=$wcpRequest key=name  item=value}]
            <input type="hidden" name="[{$name}]" value="[{$value}]">
        [{/foreach}]
        </form>
    </body>
</html>