[{include file="headitem.tpl" title="WNPAYPAL_LIST_TITLE"|oxmultilangassign box="list"}]
[{assign var="where" value=$oView->getListFilter()}]

[{if $readonly}]
    [{assign var="readonly" value="readonly disabled"}]
[{else}]
    [{assign var="readonly" value=""}]
[{/if}]

<script type="text/javascript">
<!--
window.onload = function ()
{
    top.reloadEditFrame();
    [{ if $updatelist == 1}]
        top.oxid.admin.updateList('[{ $oxid }]');
    [{ /if}]
}
//-->
</script>

<div id="liste">

<form name="search" id="search" action="[{ $oViewConf->getSelfLink() }]" method="post">
[{include file="_formparams.tpl" cl="wn_paypal_list" lstrt=$lstrt actedit=$actedit oxid=$oxid fnc="" language=$actlang editlanguage=$actlang}]
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<colgroup>
	<col width="20%">
	<col width="12%">
	<col width="14%">
	<col width="10%">
	<col width="14%">
	<col width="14%">
	<col width="14%">
	<col width="1%">
	<col width="1%">
</colgroup>
<tr class="listitem">
    <td valign="top" class="listfilter first">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxwnpaypal][oxinsert]" value="[{ $where.oxwnpaypal.oxinsert }]">
        </div></div>
    </td>
    <td valign="top" class="listfilter">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="11" maxlength="128" name="where[oxwnpaypal][oxamount]" value="[{ $where.oxwnpaypal.oxamount }]">
        </div></div>
    </td>
    <td valign="top" class="listfilter">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxwnpaypal][oxtransid]" value="[{ $where.oxwnpaypal.oxtransid }]">
        </div></div>
    </td>
    <td valign="top" class="listfilter">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="9" maxlength="128" name="where[oxwnpaypal][oxordernr]" value="[{ $where.oxwnpaypal.oxordernr }]">
        </div></div>
    </td>
    <td valign="top" class="listfilter">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxwnpaypal][oxstatus]" value="[{ $where.oxwnpaypal.oxstatus }]">
        </div></div>
    </td>
    <td valign="top" class="listfilter">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxwnpaypal][oxreason]" value="[{ $where.oxwnpaypal.oxreason }]">
        </div></div>
    </td>
    <td valign="top" class="listfilter">
        <div class="r1"><div class="b1">
        <input class="listedit" type="text" size="15" maxlength="128" name="where[oxwnpaypal][oxidstatus]" value="[{ $where.oxwnpaypal.oxidstatus }]">
        </div></div>
    </td>
    <td valign="top" class="listfilter">
        <div class="r1"><div class="b1">&nbsp;</div></div>
    </td>
    <td valign="top" class="listfilter" height="20">
        <div class="r1"><div class="b1">
        <div class="find">
            <input class="listedit" type="submit" name="submitit" value="[{ oxmultilang ident="GENERAL_SEARCH" }]">
        </div>

        </div></div>
    </td>
</tr>
<tr>
    <td class="listheader first" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXINSERT" }]</a></td>
    <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxamount,oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXAMOUNT" }]</a></td>
    <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxtransid,oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXTRANSID" }]</a></td>
    <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxordernr,oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXORDERNR" }]</a></td>
    <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxstatus,oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXSTATUS" }]</a></td>
    <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxreason,oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXREASON" }]</a></td>
    <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxidstatus,oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXIDSTATUS" }]</a></td>
    <td class="listheader" height="15"><a href="Javascript:top.oxid.admin.setSorting( document.search, '', 'oxfinished,oxtimestamp DESC', '');document.search.submit();" class="listheader">[{ oxmultilang ident="GENERAL_AJAX_SORT_OXFINISHED" }]</a></td>
    <td class="listheader" height="15"></td>
</tr>

[{assign var="blWhite" value=""}]
[{assign var="_cnt" value=0}]
[{foreach from=$mylist item=listitem}]
    [{assign var="_cnt" value=$_cnt+1}]
    <tr id="row.[{$_cnt}]">
    [{ if $listitem->blacklist == 1}]
        [{assign var="listclass" value=listitem3 }]
    [{ else}]
        [{assign var="listclass" value=listitem$blWhite }]
    [{ /if}]
    [{ if $listitem->getId() == $oxid }]
        [{assign var="listclass" value=listitem4 }]
    [{ /if}]
    <td valign="top" class="[{ $listclass}]" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('[{ $listitem->oxwnpaypal__oxid->value}]');" class="[{ $listclass}]">[{ $listitem->oxwnpaypal__oxinsert->value }]</a></div></td>
    <td valign="top" class="[{ $listclass}]" height="15" align="right"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('[{ $listitem->oxwnpaypal__oxid->value}]');" class="[{ $listclass}]">[{ $listitem->getAmount() }] [{ $listitem->oxwnpaypal__oxcur->value }]</a></div></td>
    <td valign="top" class="[{ $listclass}]" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('[{ $listitem->oxwnpaypal__oxid->value}]');" class="[{ $listclass}]">[{ $listitem->oxwnpaypal__oxtransid->value }]</a></div></td>
    <td valign="top" class="[{ $listclass}]" height="15" align="right"><div class="listitemfloating"><a href="Javascript:top.oxid.admin.editThis('[{ $listitem->oxwnpaypal__oxid->value}]');" class="[{ $listclass}]">[{ $listitem->oxwnpaypal__oxordernr->value }]</a></div></td>
    <td valign="top" class="[{ $listclass}]" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('[{ $listitem->oxwnpaypal__oxid->value}]');" class="[{ $listclass}]">[{ $listitem->oxwnpaypal__oxstatus->value }]</a></div></td>
    <td valign="top" class="[{ $listclass}]" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('[{ $listitem->oxwnpaypal__oxid->value}]');" class="[{ $listclass}]">[{ $listitem->oxwnpaypal__oxreason->value }]</a></div></td>
    <td valign="top" class="[{ $listclass}]" height="15"><div class="listitemfloating">&nbsp;<a href="Javascript:top.oxid.admin.editThis('[{ $listitem->oxwnpaypal__oxid->value}]');" class="[{ $listclass}]">[{ $listitem->oxwnpaypal__oxidstatus->value }]</a></div></td>
    <td valign="top" class="[{ $listclass}][{ if $listitem->oxwnpaypal__oxfinished->value }] active[{/if}]" height="15"><div class="listitemfloating">&nbsp</a></div></td>
    <td align="right" class="[{ $listclass}]">
    [{ if !$readonly && $listitem->isDeletable() }]
    <a href="Javascript:top.oxid.admin.deleteThis('[{ $listitem->oxwnpaypal__oxid->value }]');" class="delete" id="del.[{$_cnt}]" title="" [{include file="help.tpl" helpid=item_delete}]></a>
    [{/if}]
    </td>
</tr>
[{if $blWhite == "2"}]
[{assign var="blWhite" value=""}]
[{else}]
[{assign var="blWhite" value="2"}]
[{/if}]
[{/foreach}]
[{include file="pagenavisnippet.tpl" colspan="9"}]
</table>
</form>
</div>

[{include file="pagetabsnippet.tpl"}]

<script type="text/javascript">
if (parent.parent)
{   parent.parent.sShopTitle   = "[{$actshopobj->oxshops__oxname->getRawValue()|oxaddslashes}]";
    parent.parent.sMenuItem    = "[{ oxmultilang ident="ORDER_LIST_MENUITEM" }]";
    parent.parent.sMenuSubItem = "[{ oxmultilang ident="mxpaypallogs" }]";
    parent.parent.sWorkArea    = "[{$_act}]";
    parent.parent.setTitle();
}
</script>
</body>
</html>