[{$smarty.block.parent}]
[{ if $oxcmp_basket->getPaymentId()=='oxidpaypal' && $iMode == 2 }]
[{ if $oView->isActive('PsLogin') || !$oView->isConfirmAGBActive() }]
  [{oxscript add="var h=function(e){ $('button[type=submit].nextStep').attr('disabled','disabled');$.ajax({cache:false,async:false,url:'"|cat:$oViewConf->getSslSelfLink()|replace:"&amp;":"&"|cat:"cl=order&fnc=ajaxaddlog'}).done(function(f){f=parseInt(f);if(f>0){e.preventDefault();$('input:hidden[name=invoice]').val(f);$('#frmpp').submit()}});};$('#orderConfirmAgbTop').submit(h);$('#orderConfirmAgbBottom').submit(h);"}]
[{else}]
  [{oxscript add="var h=function(e){ $('button[type=submit].nextStep').attr('disabled','disabled');if($('input:checkbox[name=ord_agb]').is(':checked'))$.ajax({cache:false,async:false,url:'"|cat:$oViewConf->getSslSelfLink()|replace:"&amp;":"&"|cat:"cl=order&fnc=ajaxaddlog'}).done(function(f){f=parseInt(f);if(f>0){e.preventDefault();$('input:hidden[name=invoice]').val(f);$('#frmpp').submit()}});};$('#orderConfirmAgbTop').submit(h);$('#orderConfirmAgbBottom').submit(h);"}]
[{/if}]
<form action="[{ $sAction }]" method="post" id="frmpp">
<input type="hidden" name="cmd" value="_xclick">
[{ foreach from=$aPaypal key=sKey item=sVal }]
<input type="hidden" name="[{ $sKey }]" value="[{ $sVal }]">
[{/foreach}]
</form>
[{/if}]