<!DOCTYPE HTML>
<html>
	<head>
		<script language="javascript" type="text/javascript">
			function iFrameBreakout()
			{
				parent.document.location.href = "[{$wcpReturnUrl}]";
			}
		</script>
	</head>
	<body onLoad="iFrameBreakout()">
        <center><h3>[{ oxmultilang ident="wcp_return_redirect" }]</h3></center>
	</body>
</html>